@use "@/style/utils" as *;

.friend {
  $block: &;

  display: flex;
  background-color: $dark-navy;
  border-radius: $border-radius-md;
  overflow: hidden;
  flex-shrink: 0;

  &__image {
    height: 4rem;
    width: 4rem;
    flex-shrink: 0;
    background-color: $red-500;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }

  &__details {
    flex: 1;
    display: flex;
    gap: $spacing-xs;
    padding: $spacing-xs;
    @include truncate;

    * {
      @include truncate;
    }

    @at-root #{$block}__info {
      flex: 1;
      @include flex-column;
      justify-content: center;

      @at-root #{$block}__username {
        font-size: $text-sm;
        font-weight: 600;
      }

      @at-root #{$block}__email {
        font-size: $text-xs;
        color: $gray-400;
      }
    }

    @at-root #{$block}__action {
      @include flex-center;
      flex-shrink: 0px;
      padding: 0px $spacing-xs;
    }

    @at-root #{$block}__link {
      @include flex-center;
      flex-shrink: 0px;
      padding: 0px $spacing-xs;
      svg {
        color: white;
      }
    }
  }

  @include breakpoint(desktop) {
    gap: $spacing-md;
    &__image {
      height: 4.5rem;
      width: 4.5rem;
    }
  }
}
